@font-face {
  font-family: "SpaceMono";
  src: url("./styles/assets/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "SpaceMonoBold";
  src: url(./styles/assets/fonts/SpaceMono-Bold.ttf) format("truetype");
  font-weight: 700;
}

body {
  margin: 0;
  font-family: "SpaceMono";
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
